# Ignore vanilla DF files and dirs (with a few exceptions)
/data/*
!/data/speech/
!/data/announcement/
/raw/graphics/
/raw/interaction examples/
/sdl/
/libs/
/g_src/
/*.exe
/*.dll
/*.MANIFEST
/*.bat
/errorlog.txt
/gamelog.txt
/command line.txt
/file changes.txt
/optipng license.txt
/readme.txt
/release notes.txt
/df
/README.linux

# Ignore emacs-style backup / temp files
*~
.#*
\#*#